* {
    padding: 0;
    margin: 0;
}


        /* Стилизация Header */


.navigation-menu {
    max-width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-bottom: 70px;
}

.logo {
    text-decoration: none;
    color: #fed136;
    font-size: 36px;
    font-family: 'Pinyon Script', cursive;
}

.list {
    width: 485px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.list-item > a {
    text-decoration: none;
    color: #222222;
}



        /* Стилизация Заголовка */



.headline {
    text-align: center;
    margin-bottom: 120px;
}

.headline > h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: sans-serif;
}



        /* Стилизация services-list */



.services-list {
    width: 940px;
    margin: auto;
    /* display: flex; */
}

.list2 {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list-item2 {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item2 > h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.list-item2 > p {
    text-align: center;
}



        /* Стилизация before у services-list */



.logo1::before {
    content: '';
    width: 90px;
    height: 90px;
    background: url(../img/logo/logo-1.png);
}

.logo2::before {
    content: '';
    width: 90px;
    height: 90px;
    background: url(../img/logo/Безимени-2.png);
}

.logo3::before {
    content: '';
    width: 90px;
    height: 90px;
    background: url(../img/logo/Безимени-3.png);
}